In [2]:
from dask.distributed import Client

# Lanzo el Cliente y ejecuto el Dashboard

client = Client()
client

In [3]:
import dask.dataframe as dd

# Cargamos los datos

df = dd.read_csv('data/train.csv')
df.head(5)

   id        date  store_nbr  item_nbr  unit_sales  onpromotion
0   0  2013-01-01         25    103665         7.0          NaN
1   1  2013-01-01         25    105574         1.0          NaN
2   2  2013-01-01         25    105575         2.0          NaN
3   3  2013-01-01         25    108079         1.0          NaN
4   4  2013-01-01         25    108701         1.0          NaN

In [12]:
from dask.diagnostics import ProgressBar

# Visualizar en el Notebook el progreso de la computaci√≥n
ProgressBar().register()

# Simple conteo de datos
% time df.id.count().compute()

CPU times: user 16.7 s, sys: 5.31 s, total: 22 s
Wall time: 2min 25s

125497040

In [5]:
% time (df.isnull().sum()/len(df)).compute()

CPU times: user 31.3 s, sys: 6.54 s, total: 37.9 s
Wall time: 4min 19s

id             0.000000
date           0.000000
store_nbr      0.000000
item_nbr       0.000000
unit_sales     0.000000
onpromotion    0.172575
dtype: float64