In [1]:
from dask.distributed import Client
import dask.dataframe as dd

# Lanzo el Cliente y ejecuto el Dashboard

client = Client()
client

## Data Exploration

In [3]:
import dask.dataframe as dd
df_train = dd.read_csv('data/train.csv')
df_train.head(5)

   id        date  store_nbr  item_nbr  unit_sales  onpromotion
0   0  2013-01-01         25    103665         7.0          NaN
1   1  2013-01-01         25    105574         1.0          NaN
2   2  2013-01-01         25    105575         2.0          NaN
3   3  2013-01-01         25    108079         1.0          NaN
4   4  2013-01-01         25    108701         1.0          NaN

In [2]:
df_test = dd.read_csv('data/test.csv')
df_test.head(5)

          id        date  store_nbr  item_nbr  onpromotion
0  125497040  2017-08-16          1     96995        False
1  125497041  2017-08-16          1     99197        False
2  125497042  2017-08-16          1    103501        False
3  125497043  2017-08-16          1    103520        False
4  125497044  2017-08-16          1    103665        False

In [6]:
df_sample_submission = dd.read_csv('data/sample_submission.csv')
df_sample_submission.head(5)

          id  unit_sales
0  125497040           0
1  125497041           0
2  125497042           0
3  125497043           0
4  125497044           0

In [5]:
df_stores = dd.read_csv('data/stores.csv')
df_stores.head(5)

   store_nbr           city                           state type  cluster
0          1          Quito                       Pichincha    D       13
1          2          Quito                       Pichincha    D       13
2          3          Quito                       Pichincha    D        8
3          4          Quito                       Pichincha    D        9
4          5  Santo Domingo  Santo Domingo de los Tsachilas    D        4

In [12]:
df_items = dd.read_csv('data/items.csv')
df_items.head(5)

   item_nbr        family  class  perishable
0     96995     GROCERY I   1093           0
1     99197     GROCERY I   1067           0
2    103501      CLEANING   3008           0
3    103520     GROCERY I   1028           0
4    103665  BREAD/BAKERY   2712           1

In [17]:
df_oil = dd.read_csv('data/oil.csv')
df_oil.head(5)

         date  dcoilwtico
0  2013-01-01         NaN
1  2013-01-02       93.14
2  2013-01-03       92.97
3  2013-01-04       93.12
4  2013-01-07       93.20

In [19]:
df_holidays_events = dd.read_csv('data/holidays_events.csv')
df_holidays_events.head(5)

,date,type,locale,locale_name,description,transferred
0,2012-03-02,Holiday,Local,Manta,Fundacion de Manta,False
1,2012-04-01,Holiday,Regional,Cotopaxi,Provincializacion de Cotopaxi,False
2,2012-04-12,Holiday,Local,Cuenca,Fundacion de Cuenca,False
3,2012-04-14,Holiday,Local,Libertad,Cantonizacion de Libertad,False
4,2012-04-21,Holiday,Local,Riobamba,Cantonizacion de Riobamba,False

In [47]:
df_transactions = dd.read_csv('data/transactions.csv')
df_transactions.head(5)

         date  store_nbr  transactions
0  2013-01-01         25           770
1  2013-01-02          1          2111
2  2013-01-02          2          2358
3  2013-01-02          3          3487
4  2013-01-02          4          1922

## Porcent of Null Values

In [39]:
def null_values(df):
    start = time.time()
    total = len(df)
    result = (df.isnull().sum()/total).compute()
    print("Lenght of df: ",total)
    print("Time: ", time.strftime("%M:%S", time.gmtime(time.time() - start)) )
    return result

In [41]:
null_values(df_train)

Lenght of df:  125497040
Time:  04:38

id             0.000000
date           0.000000
store_nbr      0.000000
item_nbr       0.000000
unit_sales     0.000000
onpromotion    0.172575
dtype: float64

In [42]:
null_values(df_test)

Lenght of df:  3370464
Time:  00:06

id             0.0
date           0.0
store_nbr      0.0
item_nbr       0.0
onpromotion    0.0
dtype: float64

In [43]:
null_values(df_stores)

Lenght of df:  54
Time:  00:00

store_nbr    0.0
city         0.0
state        0.0
type         0.0
cluster      0.0
dtype: float64

In [44]:
null_values(df_items)

Lenght of df:  4100
Time:  00:00

item_nbr      0.0
family        0.0
class         0.0
perishable    0.0
dtype: float64

In [48]:
null_values(df_transactions)

Lenght of df:  83488
Time:  00:00

date            0.0
store_nbr       0.0
transactions    0.0
dtype: float64

In [49]:
null_values(df_oil)

Lenght of df:  1218
Time:  00:00

date          0.000000
dcoilwtico    0.035304
dtype: float64

In [51]:
null_values(df_holidays_events)

Lenght of df:  350
Time:  00:00

date           0.0
type           0.0
locale         0.0
locale_name    0.0
description    0.0
transferred    0.0
dtype: float64

In [54]:
null_values(df_sample_submission)

Lenght of df:  3370464
Time:  00:02

id            0.0
unit_sales    0.0
dtype: float64

In [8]:
import dask.dataframe as dd
df_train = dd.read_csv('data/train.csv', parse_dates=["date"])
df_train.head(5)

   id       date  store_nbr  item_nbr  unit_sales  onpromotion
0   0 2013-01-01         25    103665         7.0          NaN
1   1 2013-01-01         25    105574         1.0          NaN
2   2 2013-01-01         25    105575         2.0          NaN
3   3 2013-01-01         25    108079         1.0          NaN
4   4 2013-01-01         25    108701         1.0          NaN

In [ ]:
#df_train['unit_sales'].apply(lambda x: np.log1p(x), meta={'unit_sales': 'int64'}) #logarithm conversion
#df_train['date'].dt.dayofweek.compute()

In [ ]:
#df_train_2.dropna().sort_index(axis=0, level=2, ascending=True)

In [3]:
## MI SOLUCIÓN ######

import pandas as pd
import numpy as np
import time

start = time.time()

train_list = []

dtypes = {'id':'uint32', 'item_nbr':'int32', 'store_nbr':'int8', 'unit_sales':'float32', 'onpromotion':'bool' }

chunk_iter = pd.read_csv("data/train.csv", dtype=dtypes, parse_dates=["date"], chunksize=10000)

for chunk in chunk_iter:
    chunk_kept = chunk[(chunk["date"].dt.year == 2017)]
    train_list.append(chunk_kept)
df_train_2 = pd.concat(train_list)
df_train_2 = df_train_2.head(50000)

print("Time: ", time.strftime("%M:%S", time.gmtime(time.time() - start)) )

Time:  04:02

In [4]:
df_train_2.loc[(df_train_2.unit_sales < 0),'unit_sales'] = 0 # Eliminar Valores Negativos
df_train_2['unit_sales'] =  df_train_2['unit_sales'].apply(pd.np.log1p) #Calcular Logaritmo de Unidades
df_train_2['dow'] = df_train_2['date'].dt.dayofweek

#Promedio de Ventas Diarias
ma_dw = df_train_2.groupby(['item_nbr','store_nbr','dow'])['unit_sales'].mean().to_frame('madw').reset_index()

#Promedio de Ventas Semanales
ma_wk = ma_dw[['item_nbr','store_nbr','madw']].groupby(
       ['store_nbr', 'item_nbr'])['madw'].mean().to_frame('mawk').reset_index()

# Eliminar columnas de id, promociones y Dia de la Semana
df_train_2 = df_train_2.drop(['id','onpromotion','dow'],axis=1)

In [5]:
# Se crean registros para todos los items, todas las Tiendas en todas las Fechas
# para el correcto calculo del promedio de ventas diarias

# Busca valores únicos de Items, Tiendas, Fechas
u_dates = df_train_2.date.unique()
u_stores = df_train_2.store_nbr.unique()
u_items = df_train_2.item_nbr.unique()

# Hace index por Fecha, Tienda, Item
df_train_2.set_index(['date', 'store_nbr', 'item_nbr'], inplace=True)

df_train_2 = df_train_2.reindex(
    pd.MultiIndex.from_product(
        (u_dates, u_stores, u_items),
        names=['date','store_nbr','item_nbr']
    )
).reset_index()

df_train_2.head()

In [38]:
del u_dates, u_stores, u_items

df_train_2.loc[:, 'unit_sales'].fillna(0, inplace=True) # Llenar los NaNs con Zeros

In [43]:
# Toma la Última Fecha
lastdate = df_train_2.iloc[df_train_2.shape[0]-1].date

In [7]:
df_train_3 = pd.concat(train_list)
df_train_3 = df_train_3.head(50000)
df_train_3.drop(['id','onpromotion'],axis=1)
df_train_3.loc[(df_train_3.unit_sales < 0),'unit_sales'] = 0 
df_train_3["unit_sales"] = df_train_3["unit_sales"].apply(pd.np.log1p)

df_train_4 = pd.DataFrame.pivot_table(df_train_3, index=["date","store_nbr","item_nbr"], values=["unit_sales"])

print("Tamaño del Df_train_4: ",len(df_train_4))

df_train_4.head()

Tamaño del Df_train_4:  50000

                               unit_sales
date       store_nbr item_nbr
2017-01-01 25        99197       0.693147
                     103665      2.079442
                     105574      0.693147
                     105857      1.609438
                     106716      1.098612

In [ ]:
#df = pd.concat([df_train_4, df_train_2])
#df = df.reset_index(drop=True)

#group by

#df_gpby = df.groupby(list(df.columns))

#get index of unique records
#idx = [x[0] for x in df_gpby.groups.values() if len(x) == 1]
#df.reindex(idx)

## SOLUCION KAGGLE

In [3]:
import pandas as pd
import numpy as np
import time

start = time.time()

train_list = []

dtypes = {'id':'uint32', 'item_nbr':'int32', 'store_nbr':'int8', 'unit_sales':'float32'}

chunk_iter = pd.read_csv("data/train.csv", usecols=[1,2,3,4], dtype=dtypes, parse_dates=["date"], skiprows=range(1, 86672217) , chunksize=1000000)

for chunk in chunk_iter:
    train_list.append(chunk)
df_train = pd.concat(train_list)

print("Time: ", time.strftime("%M:%S", time.gmtime(time.time() - start)) )
df_train.head()

Time:  01:54

        date  store_nbr  item_nbr  unit_sales
0 2016-08-01          1    103520         3.0
1 2016-08-01          1    103665         2.0
2 2016-08-01          1    105574         7.0
3 2016-08-01          1    105575        13.0
4 2016-08-01          1    105577         2.0

In [7]:
df_train.loc[(df_train.unit_sales<0),'unit_sales'] = 0 # eliminate negatives
df_train['unit_sales'] =  df_train['unit_sales'].apply(pd.np.log1p) #logarithm conversion

In [8]:
df_train['dow'] = df_train['date'].dt.dayofweek

In [19]:
#Days of Week Means
ma_dw = df_train[['item_nbr','store_nbr','dow','unit_sales']].groupby(
       ['item_nbr','store_nbr','dow'])['unit_sales'].mean().to_frame('madw').reset_index()

In [30]:
ma_wk = ma_dw[['item_nbr','store_nbr','madw']].groupby(
       ['store_nbr', 'item_nbr'])['madw'].mean().to_frame('mawk').reset_index()

In [33]:
df_train.drop('dow',1,inplace=True)

In [ ]:
# creating records for all items, in all markets on all dates
# for correct calculation of daily unit sales averages.

# Busca valores únicos de Items, Tiendas, Fechas

u_dates = train.date.unique()
u_stores = train.store_nbr.unique()
u_items = train.item_nbr.unique()

# Hace index por Fecha, Tienda, Item
train.set_index(['date', 'store_nbr', 'item_nbr'], inplace=True)

# Reindexa en base a valores únicos de Items, Tiendas y Fechas
train = train.reindex(
    pd.MultiIndex.from_product(
        (u_dates, u_stores, u_items),
        names=['date','store_nbr','item_nbr']
    )
).reset_index()

del u_dates, u_stores, u_items

train.loc[:, 'unit_sales'].fillna(0, inplace=True) # fill NaNs
lastdate = train.iloc[train.shape[0]-1].date

In [24]:
df_test = pd.read_csv("data/test.csv")
df_test["onpromotion"] = df_test["onpromotion"]*1
df_test.head()

          id        date  store_nbr  item_nbr  onpromotion
0  125497040  2017-08-16          1     96995            0
1  125497041  2017-08-16          1     99197            0
2  125497042  2017-08-16          1    103501            0
3  125497043  2017-08-16          1    103520            0
4  125497044  2017-08-16          1    103665            0

In [25]:
df_train["onpromotion"] = df_train["onpromotion"]*1
df_train.head()

                  id       date  store_nbr  item_nbr  unit_sales onpromotion
101688779  101688779 2017-01-01         25     99197         1.0           0
101688780  101688780 2017-01-01         25    103665         7.0           0
101688781  101688781 2017-01-01         25    105574         1.0           0
101688782  101688782 2017-01-01         25    105857         4.0           0
101688783  101688783 2017-01-01         25    106716         2.0           0

In [26]:
df_train = df_train.head(500000)

In [27]:
df_train_2 = df_train

In [29]:
df_train_2["date"] = df_train_2["date"].dt.dayofweek
df_train_2.groupby(["item_nbr","store_nbr","date"]).mean()

                                id  unit_sales
item_nbr store_nbr date
99197    1         1     101804697         3.0
                   2     101914704         1.0
                   3     102021351         1.0
                   4     102123566         1.0
         2         0     101691960         1.0
                   2     101916926         1.0
         3         0     101694535         4.0
                   1     101809388         1.0
                   2     101919295         2.0
                   3     102025767         5.0
                   4     102128116         1.0
         4         0     101697392         1.0
                   1     101812075         1.0
                   4     102130879         1.0
         6         0     101702047         1.0
                   1     101816576         2.0
         7         0     101704702         4.0
                   1     101819103         5.0
                   2     101928888         2.0
                   3     102034887         3.0
                   4     102137650         2.0
         8         0     101707148         3.0
                   1     101821531         3.0
                   2     101931293         4.0
                   3     102037188         2.0
         23        0     101736722         2.0
         25        1     101853597         2.0
                   2     101962201         4.0
                   3     102067019         2.0
                   6     101688779         1.0
...                            ...         ...
2058907  2         4     102128115         1.0
         3         1     101812074         2.0
         5         0     101702046         1.0
                   1     101816575         1.0
                   2     101926354         2.0
                   4     102135210         1.0
         7         1     101821530         2.0
                   3     102037187         1.0
         8         0     101709982         2.0
                   1     101824174         1.0
                   3     102039790         1.0
         24        1     101853596         1.0
                   2     101962200         1.0
                   3     102067018         2.0
                   4     102169057         2.0
         37        2     101984228         1.0
         41        1     101885194         1.0
                   2     101992445         2.0
                   3     102095699         2.0
         45        0     101784047         1.0
                   2     102002242         2.0
                   3     102105071         1.0
         47        2     102007716         1.0
                   3     102110355         1.0
         49        1     101906199         2.0
         50        0     101798504         2.0
         51        0     101800952         1.0
                   1     101911160         3.0
                   2     102017950         2.0
                   3     102120240         1.0

[500000 rows x 2 columns]

In [ ]:
import pandas as pd
from datetime import timedelta

dtypes = {'id':'uint32', 'item_nbr':'int32', 'store_nbr':'int8', 'unit_sales':'float32'}

train = pd.read_csv('../input/train.csv', usecols=[1,2,3,4], dtype=dtypes, parse_dates=['date'],
                    skiprows=range(1, 86672217) #Skip dates before 2016-08-01
                    )

train.loc[(train.unit_sales<0),'unit_sales'] = 0 # eliminate negatives
train['unit_sales'] =  train['unit_sales'].apply(pd.np.log1p) #logarithm conversion
train['dow'] = train['date'].dt.dayofweek

#Days of Week Means
#By tarobxl: https://www.kaggle.com/c/favorita-grocery-sales-forecasting/discussion/42948
ma_dw = train[['item_nbr','store_nbr','dow','unit_sales']].groupby(
        ['item_nbr','store_nbr','dow'])['unit_sales'].mean().to_frame('madw').reset_index()
ma_wk = ma_dw[['item_nbr','store_nbr','madw']].groupby(
        ['store_nbr', 'item_nbr'])['madw'].mean().to_frame('mawk').reset_index()

train.drop('dow',1,inplace=True)

In [54]:
#train.loc[(train.unit_sales<0),'unit_sales'] = 0 # eliminate negatives
train = df_train
train['unit_sales'] =  train['unit_sales'].apply(pd.np.log1p) #logarithm conversion
train['dow'] = train["date"]#.dt.dayofweek

#Days of Week Means
#By tarobxl: https://www.kaggle.com/c/favorita-grocery-sales-forecasting/discussion/42948
ma_dw = train[['item_nbr','store_nbr','dow','unit_sales']].groupby(
       ['item_nbr','store_nbr','dow'])['unit_sales'].mean().to_frame('madw').reset_index()
ma_wk = ma_dw[['item_nbr','store_nbr','madw']].groupby(
      ['store_nbr', 'item_nbr'])['madw'].mean().to_frame('mawk')#.reset_index()

ma_dw.head()

   item_nbr  store_nbr  dow      madw
0     99197          1    1  0.287938
1     99197          1    2  0.234307
2     99197          1    3  0.234307
3     99197          1    4  0.234307
4     99197          2    0  0.234307

In [53]:
ma_wk.head()

                        mawk
store_nbr item_nbr
1         99197     0.281443
          103520    0.305186
          103665    0.318904
          105574    0.370282
          105575    0.378390

In [14]:
from sklearn.tree import DecisionTreeRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error


X = df_train_.head(500000).drop(['unit_sales','date'], axis=1).fillna(0)
y = df_train_.head(500000)['unit_sales']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

estimator = DecisionTreeRegressor()
estimator.fit(X_train, y_train)
y_predict = estimator.predict(X_test)

mean_squared_error(y_test,y_predict)

424.49312218443998

In [43]:
df_solution = pd.DataFrame(np.column_stack([df_test["id"],predicciones]), columns=["id","unit_sales"])

df_solution.loc[(df_solution.unit_sales < 0),'unit_sales'] = 0

pd.concat([df_solution["id"].astype(int),df_solution["unit_sales"]], axis=1).to_csv("predictions_11.csv", float_format='%.4f', index=None)

In [ ]:
print("Validation mse:", mean_squared_error(
    y_val, np.array(val_pred).transpose()))

weight = items["perishable"] * 0.25 + 1
err = (y_val - np.array(val_pred).transpose())**2
err = err.sum(axis=1) * weight
err = np.sqrt(err.sum() / weight.sum() / 16)
print('nwrmsle = {}'.format(err))